@inherits LayoutComponentBase

<div class="page">
    <nav class="sidebar">
        <div class="brand">TurboHomeConnect</div>
        <NavMenu />
    </nav>

    <main>
        @Body
    </main>
</div>
